body {
    background-color: whitesmoke;
}

#arrow{
    width: 40px;
}

ul {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name  {
    font-family: "Oleo Script";
    font-size: 100px;
    
}

#cour {
    border-style: dotted;
    border-radius: 10px;
}

p {
    margin-top: 5%;
    border-style: dashed;
    font-family: fantasy;
}
abbr {
    color: chocolate;
}
@media (hover: hover) {
    abbr:hover {
        color: hotpink;
        transition-duration: 2s;
    }
}

#middlerow  {
    margin-bottom: 50px;
}
.images {
    list-style-type: none;
    width: 100px;
    height: 100px;
}

.contact-container{
    background-color: rgb(227, 205, 175);
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.social {
    width:  100px;
    height: 100px;
    margin-inline: 30%;
}


